{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cv Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
         integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
         crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="bigwrapper">
            <div class="header" style="text-align: center;">
                <h1>ONWUEPE EMEKA CASPER</h1>
                <h2 class="title">Historian | Web Developer | Data Scientist</h2>
                <div class="contacts">
                    <p class="phone cd"><i class="fa fa-phone color"></i>+234-8132180216</p>
                    <p class="email cd" style="text-align: right;"> <i class="fa fa-at color"></i> Pascalemy2010@gmail.com</p>
                    <p class="linkedin cd"><a href="https://linkedin.com/in/emeka-onwuepe"><i class="fa fa-link color"></i> https://linkedin.com/in/emeka-onwuepe</a></p>
                    <p class="github cd " style="text-align: right;"><a href="https://github.com/Emeka-Onwuepe"><i class="fa fa-link color"></i> https://github.com/Emeka-Onwuepe</a></p>
                    <p class="address cd" style="width: 100%; text-align: center;"><i class="fa fa-map-marker color" aria-hidden="true"></i> No 1509, Zone 5, Lugbe, Abuja</p>
                </div>
            </div>

            <div class="main">
                <section >
                    <h2>SUMMARY</h2>
                    <div class="sub_section last">
                    <p>I am a self-taught web developer, a trained data scientist and a graduate of History and International Studies. 
                        In my 5 years as a software developer, I have worked on e-commerce websites and a Fintech window app among others. 
                        The amount of data these apps had to handle and the demand to generate various kinds of insights were amazing,
                         these made me more curious about data.</p>
                    <p>To gain more knowledge in the fi eld of data, I completed courses that exposed me to various aspects of data science,
                         from data gathering and cleaning to visualization, storytelling, report writing, machine learning and deep learning.</p>
                    </div>
                </section>

                <section >
                    <h2>TECH STACK</h2>
                    <div class="sub_section ">
                    <div class='flex'>
                        <p class="items">Python</p>
                        <p class="items">JavaScript</p>
                        <p class="items">SQL</p>
                        <p class="items">C#</p>
                    </div>
                    </div>

                    <div class="sub_section ">
                    <div class='flex'>
                        <p class="items">HTMl</p>
                        <p class="items">CSS</p>
                        <p class="items">Django</p>
                        <p class="items">Django Rest Framework</p>
                        <p class="items">Fast API</p>
                        <p class="items">React</p>
                        <p class="items">Redux</p>
                    </div>
                    </div>

                    <div class="sub_section last">
                    <div class='flex'>
                        <p class="items">Tensorflow</p>
                        <p class="items">scikit-learn</p>
                        <p class="items">Pandas</p>
                        <p class="items">Numpy</p>
                        <p class="items">Seaborn</p>
                        <p class="items">Matplotlib</p>
                    </div>
                    </div>
                    

                </section>

                <section > 
                    <h2>EXPERIENCE</h2>
                        <div class="sub_section">
                            <h3>Open Science Contributor</h3>
                            <h3 class="title">Mozilla BugBug</h3>
                            <div id='detail_div'>
                                <p class="date"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 04/2023 - 05/2023</p>
                                <p class="location"><i class="fa fa-map-marker"></i> <a href="https://github.com/mozilla/bugbug">https://github.com/mozilla/bugbug</a></p>
                            </div>
                            <ul>
                                <li><p>Bugbug aims at leveraging machine learning techniques to help with bug and quality management, and 
                                    other software engineering tasks (such as test selection and defect prediction).</p>
                                    <p>My contributions to this project are listed here;
                                        <a href="https://github.com/mozilla/bugbug/commits?author=Emeka-Onwuepe">https://github.com/mozilla/bugbug/commits?author=Emeka-Onwuepe</a></p> </li>
                            </ul>
                        </div>

                        <div class="sub_section">
                            <h3>IT Director</h3>
                            <h3 class="title">Lotz Energy Global Limited</h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg>2021 - 2022</p>
                                <p class="location"> <i class="fa fa-map-marker"></i> No 2, Nnewi Street, Area 2, Garki, Abuja</p>
                            </div>
                            <ul>
                                <li><p>Designed a tailored web and desktop project pro-types for agencies like Defence Intelligence Agency(DIA) and Defence Research and Development Bureau(DRDB). 
                                    These projects were submitted and presented but weren't signed due to reasons beyond the company's control.</p>
                                     </li>
                            </ul>
                        </div>

                        <div class="sub_section">
                            <h3>Assistant IT Director</h3>
                            <h3 class="title">Lotz Energy Global Limited</h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg>2020 - 2021</p>
                                <p class="location"> <i class="fa fa-map-marker"></i> No 2, Nnewi Street, Area 2, Garki, Abuja</p>
                            </div>
                            <ul>
                                <li><p>Collaborated in building web projects for the company and clients as a full-stack web developer.</p>
                                     </li>
                                <li><p>Helped to reduce the company's profi le soft copy fi le size by over 65%. 
                                    This was made possible by reducing the weight of various images used in the profi le with the help of Pillow, a python library.</p>
                                     </li>
                            </ul>
                        </div>
                        <div class="sub_section last">
                            <h3>Educator</h3>
                            <h3 class="title">National Youth Service Corps</h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg>2018 - 2019</p>
                                <p class="location"><i class="fa fa-map-marker"></i>Government Day Secondary School, Illela, Sokoto.</p>
                            </div>
                        </div>
                </section>

                <section class='edu'>  
                    <h2>EDUCATION</h2>
                    
                        <div class="sub_section">
                            <h3>Mastering OpenCV with Python</h3>
                            <h3 class="title"><a href="https://courses.opencv.org/certificates/1182e12f16424f77a22b54d5d9a00228">
                                https://courses.opencv.org/certificates/1182e12f16424f77a22b54d5d9a00228</a></h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 08/2023 - 10/2024</p> 
                            </div>
                        </div>

                        <div class="sub_section">
                            <h3>Deep Learning Specialization (Deeplearning.ai)</h3>
                            <h3 class="title"><a href="https://coursera.org/share/9aa2a49d72dda065a52f301b37739ad1">
                                https://coursera.org/share/9aa2a49d72dda065a52f301b37739ad1</a></h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 06/2023 - 10/2023</p> 
                            </div>
                        </div>

                        <div class="sub_section">
                            <h3>Machine Learning Specialization (Stanford University & Deeplearning.ai)</h3>
                            <h3 class="title"><a href="https://coursera.org/share/958595a76c29573985513d8b0f171aa0">
                                https://coursera.org/share/958595a76c29573985513d8b0f171aa0</a></h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 05/2023 - 09/2023</p> 
                            </div>
                        </div>

                         <div class="sub_section">
                            <h3>IBM Data Science Specialization</h3>
                            <h3 class="title"><a href="https://coursera.org/share/d902d9f2f9b7886e4b9141bc954bf6b4">
                                https://coursera.org/share/d902d9f2f9b7886e4b9141bc954bf6b4</a></h3>
                            <div id='detail_div'>
                                <p class="date"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 09/2022 - 02/2023</p> 
                            </div>
                        </div>

                         <div class="sub_section">
                            <h3>Udacity ALX-T Data Analyst Nano Degree</h3>
                            <h3 class="title"><a href="https://graduation.udacity.com/confirm/QDM4CYKK">
                                https://graduation.udacity.com/confirm/QDM4CYKK</a></h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 01/2022 - 08/2022</p> 
                            </div>
                        </div>

                        <div class="sub_section">
                            <h3>Foundations: Data, Data, Everywhere (Google)</h3>
                            <h3 class="title"><a href="https://coursera.org/share/7ac69a9903112d2d815429dc918de2cb">
                                https://coursera.org/share/7ac69a9903112d2d815429dc918de2cb</a></h3>
                            <div id='detail_div'>
                                <p class="date"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 12/2021 - 01/2022</p> 
                            </div>
                        </div>

                        <div class="sub_section">
                            <h3>Udacity AWS Machine Learning Foundation Nano Degree</h3>
                            <h3 class="title"><a href="https://confirm.udacity.com/LZCNDAWD">
                                https://confirm.udacity.com/LZCNDAWD</a></h3>
                            <div id='detail_div'>
                                <p class="date"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 07/2021 - 10/2021</p> 
                            </div>
                        </div>

                        <div class="sub_section">
                            <h3>Kaggle Certificate of Completion Intermediate Machine Learning</h3>
                            <h3 class="title"><a href="https://www.kaggle.com/learn/certification/emekaonwuepe/intermediate-machine-learning">
                                https://www.kaggle.com/learn/certification/emekaonwuepe/intermediate-machine-learning</a></h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 07/2021 - 08/2021</p> 
                            </div>
                        </div>

                        <div class="sub_section">
                            <h3>Global AI Hub/ AI Business School Introduction to Machine Learning Certificate</h3>
                            <h3 class="title"><a href="https://verified.sertifier.com/en/verify/458525719731">
                                https://verified.sertifier.com/en/verify/458525719731</a></h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 10/2020 - 11/2020</p> 
                            </div>
                        </div>

                        <div class="sub_section">
                            <h3>National Youth Service Corps (NYSC) Certificate</h3>
                            <h3 class="title">National Youth Service Corps</h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 2018 - 2019</p> 
                            </div>
                        </div>

                        <div class="sub_section last">
                            <h3>B. A in History and International Studies</h3>
                            <h3 class="title">Nnamdi Azikiwe University, Awka (UNIZIK)</h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 2013 - 2017</p> 
                            </div>
                        </div>
                </section>


                
                 <section class='edu'>  
                    <h2>PROJECTS</h2>
                    
                        <div class="sub_section">
                            <h3>Academic Works: </h3>
                                <ul>
                                    <li>Precipitation Estimation Using Convolutional Neural Networks</li>
                                    <li>SQL Database on Reported Road Casualties in Great Britain
                                Analysis and Machine Learning Model Classifications</li>
                                </ul>
                                 
                        </div>

                        <div class="sub_section">
                            <h3>Image Color Segmentation Analysis</h3>
                        </div>
                        <div class="sub_section">
                            <h3>IREV Web Scraping</h3>
                        </div>

                        <div class="sub_section">
                            <h3>Auto Sales Data Analysis</h3>
                        </div>

                         <div class="sub_section">
                            <h3>Image Classifi cation Model</h3>
                        </div>

                         <div class="sub_section">
                            <h3> Classification and Regression Models:</h3>
                                <ul>
                                    <li>House Pricing Prediction Model</li>
                                    <li>Heart Disease Classification</li>
                                    <li>Space X Falcon 9 First Stage Landing Prediction</li>
                                </ul>
                               
                                
                        </div>

                        <div class="sub_section">
                            <h3>Ford GoBike System Data Analysis</h3>
                        </div>

                        <div class="sub_section">
                            <h3>Website for a Human Resources and Law Firm</h3>
                        </div>

                        <div class="sub_section">
                            <h3>E-commerce website written with Django Rest Framework and React.</h3>
                        </div>

                        <div class="sub_section">
                            <h3>Full-Stack Django Blog site</h3>
                        </div>

                        <div class="sub_section last">
                            <h3>Loan and Savings Managements Desktop Application using C#, WPF, Dapper and SQLite</h3>
                        </div>
                </section>

                <section> 
                    <h2>VOLUNTEERING</h2>

                    <div class="sub_section">
                            <h3>Python For Machine Learning Instructor</h3>
                            <h3 class="title">DSN 2024 Free AI Classes In Every City (Abuja)</h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> August 2024</p>
                                <p class="location"></p>
                            </div>
                            <ul>
                                <li><p>Data Science Network (DSN) nationwide's introductory classes on Data Science. I participated as an instructor in federal Capital, Abuja. </p>
                                 </li>
                            </ul>
                        </div>

                        <div class="sub_section">
                            <h3>Coordinator</h3>
                            <h3 class="title">Data Community</h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 2021 - 2023</p>
                                <p class="location"></p>
                            </div>
                            <ul>
                                <li><p>A group of data professional(Data Analysts, Data Engineers, Data Scientists) majorly from Nigeria and other parts of Africa like Kenya,
                                     Ghana, Mozambique and Uganda. We collaborate through a WhatsApp Community.</p>
                                 </li>
                            </ul>
                        </div>

                        <div class="sub_section">
                            <h3>Community Lead</h3>
                            <h3 class="title">PyCon (Python Community) Anambra</h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 2020 - 2021</p>
                                <p class="location"></p>
                            </div>
                            <ul>
                                <li><p>PyCon is an open community for global python developers under Python Software Foundation (PSF).
                                        Leading the community was a privilege to learn, teach and corroborate with python developers in Anambra.</p>
                                     </li>
                            </ul>
                        </div>

                        <div class="sub_section last">
                            <h3>Public Relation Officer</h3>
                            <h3 class="title">Platoon 9, National Youth Service Corps(NYSC) Orientation Camp</h3>
                            <div id='detail_div'>
                                <p class="date"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 
                                48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 
                                512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 
                                16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 
                                32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 
                                16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 
                                7.2-16 16z"/></svg> 2019</p>
                                <p class="location"></p>
                            </div>
                            <ul>
                                <li><p>Created and managed the Platoon WhatsApp group for easy and professional dissemination of information during the orientation camp.</p>
                                     </li>
                            </ul>
                        </div>
                        
                </section>





            </div>
            
        </div>
        <script src="" async defer></script>
    </body>
</html>